.dictop {
    display: flex;
    justify-content: center;
    height: 2rem;
}

.insidetop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    padding: 1rem;
    border-radius: 10px;
    padding: 2rem;
    animation: alter linear 5s infinite;
}

@keyframes alter {
    20% {
        scale: 0.8;
        background-color: antiquewhite;
    }

    40% {
        background-color: brown;
    }

    60% {
        scale: 0.6;
        background-color: burlywood;
    }

    80% {
        background-color: chocolate;
    }

    100% {
        scale: 1;
        background-color: blanchedalmond;
    }
}

.vitrako {
    display: grid;
    place-content: center;
    margin-top: 20px;
}

input {
    background-color: ivory;
    color: black;
}

.dictmain {
    display: grid;
    place-content: flex-start;
}