.no-cart {
    margin: 30px;
    display: grid;
    place-content: center;
    background-image: url('../../../public/astro.png');
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
}

.cart-items-true {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    gap: 10px;
}

.cart-items-products {
    display: grid;
    place-items: center;
    border: 1px solid black;
    background-color: blanchedalmond;
    height: 10rem;
    padding: 10px;
    border-radius: 20px;
}